/* Import all styles */
@import "../../node_modules/bootstrap/dist/css/bootstrap.css";

/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;600&display=swap');

body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: black;
}

[class*="display-"] {
  font-family: 'Source Serif Pro', serif;
}

.para{
  margin: auto;
  max-width: 720px;
  padding: 0px 10px;
  color: aliceblue;
}
.para h2{
  color: red;
}

.sub-heading{
  color: #FFFFFF;
  width: 720px;
  margin: 0px auto;
  /* padding: 0px 5px 3px; */
}

.heading_green{
  color: #4da563 !important;
  width: 720px;
  margin: 0px auto;
  /* padding: 0px 5px 3px; */
}

.heading_water{
  color: #4C97C9 !important;
  width: 720px;
  margin: 0px auto;
  /* padding: 0px 5px 3px; */
}

.heading_gas{
  color: #D11F26 !important;
  width: 720px;
  margin: 0px auto;
  /* padding: 0px 5px 3px; */
}